<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      throwConfigExceptions="true">

    <!-- 定义日志输出目标 -->
    <targets>
        <!-- 写入文件 -->
        <target xsi:type="File" name="logfile"
                fileName="${basedir}/logs/${shortdate}.log"
                layout="${longdate}|${level:uppercase=true}|${logger}|${message} ${exception:format=tostring}"
                archiveEvery="Day"
                maxArchiveFiles="7"
                keepFileOpen="false"/>

        <!-- 控制台（调试用） -->
        <target xsi:type="Console" name="logconsole"/>
    </targets>

    <!-- 定义日志规则 -->
    <rules>
        <logger name="*" minlevel="Info" writeTo="logfile,logconsole"/>
    </rules>
</nlog>